
@mixin center($extend: true) {
  @if $extend {
    @extend %center;
  } @else {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

%center {
  @include center($extend: true);
}
.el-btn-standart {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: $accentOne;
  transition: 0.3s;
  color: $white;
    &-disabled {
      background-color: $greyOne;
      cursor: not-allowed;
      pointer-events: none;
    }
    &:hover {
      box-shadow: 0px 4px 13px rgba(19, 38, 134, 0.33);
      transition: 0.3s;
    }
    &:active {
      background: $accenttwo;
      transition: 0.3s;
      box-shadow: none;
    }
    .ui-i-before {
      margin-right: 10px;
    }
    .ui-i-after {
      margin-left: 10px;
    }
}
.btn-first{
  @include center;
  position: relative;
  top: 0px;
  box-shadow: 0px 0px 0px 0px #ccc;
  background: $mainColor;
  background: $mainGradientColor;

  -webkit-transition: background 0.2s ease-out;
  -moz-transition: background 0.2s ease-out;
  -o-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  color: $textColorIn;
  padding: 6px 12px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: 'Raleway', sans-serif;
  transition: 0.2s;
  overflow: hidden;
  &:hover{
    position: relative;
    top: -5px;
    box-shadow: 0px 3px 9px -4px #20063a;
    background: linear-gradient(38deg, rgba(32,6,58,1) 24%, rgba(36,183,66,1) 100%);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  &:active {
    box-shadow: 0px 0px 0px 0px;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
}
