//tech checkbox BEGIN
.el-check_wrap {
  display: flex; flex-flow: wrap;
}

.el-check {
  cursor: pointer;
  position: relative;
  margin: inherit;
  width: max-content;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.el-check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #22325430;
  opacity: 0;
  transition: opacity .1s ease;
}

svg {
  position: relative;
  z-index: 1;
  fill: none;
  // stroke-linecap: round;
  // stroke-linejoin: round;
  stroke: #C8CCD4;
  stroke-width: 2;
  transform: translate3d(0, 0, 0);
  transition: all .1s ease;
}

path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

polyline:hover,
polyline:before {
  opacity: 1
}

.el-checkbox:checked+.el-check svg {
  stroke: #fff;
  fill: #4560e3;
}

.el-checkbox:hover+.el-check svg {
  // stroke: #fff;
  // fill: #4560e3;
}

.el-checkbox:checked+.el-check path {
  stroke-dashoffset: 60;
  transition: all .1s linear;
}

.el-checkbox:checked+.el-check polyline {
  stroke-dashoffset: 42;
  transition: all .1s linear;
  transition-delay: .15s;
}
.el-label-checkbox{
  margin-right: 10px;
  margin-bottom: 0px;
}

//tech checkbox END