.dropDown-wrapper{
  position: relative;
  .t-rr-s-dropDown-mask {
    display: flex;
    align-items: center;
    padding: 0px 20px;
    padding-right: 0px;
    span {
      font-size: 0.8em;
    }
  }
  .dropDown-list{
    width: 80%;
    padding: 10px;
    right: 0px;
    position: absolute;
    background: $white;
    box-shadow: 0px 4px 13px rgba(19, 38, 134, 0.33);
    top: 35px;
    z-index: 3;
    font-size: $size-sm;
    ul{
      padding-left: 0px;
      margin-bottom: 0px;
      li{
        color: $mainColor;
        margin: 10px;
        font-weight: 400;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
  .t-rr-s-locale-wrapper {
    padding: 0 10px;
    font-size: 0.8em;
    color: $mainColor;

  }
}