.t-rr-s-table-wrapper {
    height: 84vh;
    // display: inline-block;
    overflow: auto;
  .table {
    thead {
      background: $greyFour;
      position: sticky;
      z-index: 2;
      top: 0;
      th {
        font-weight: 400;
        font-size: 0.9em;
        border-bottom: 1px solid #dee2e6;
      }
    }
    tbody {
      tr {
        td {
          font-weight: 400;
          font-size: 0.9em;
        }
        th {
          font-weight: 400;
          font-size: 0.9em;
        }
      }
      .t-rr-s-choise-item-active {
        background: rgba(70, 96, 227, 0.05);
      }
      .t-rr-s-choise-item-active:nth-of-type(odd) {
        background: rgba(70, 96, 227, 0.05);
      }
      tr:nth-of-type(odd) {
        background-color: rgba(0,0,0,.02);
      }
      tr:hover {
        color: #212529;
        background-color: rgba(0,0,0,.035);
      }
    }
  }
}