.main-layout {
  font-size: 18px;
}
.t-rr-s-main-wrapper{
  display: flex;
}
.app-content{
  // padding: 20px;
  width: 100%;
}
@media screen and (max-width:980px) { /* Максимум ширина 980px */
  .main-layout {
    flex-flow: column;
  }
}
