.t-rr-s-project-setting-wrapper {
  .t-rr-s-project-setting-header {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0px 30px;
    &-setting {
      display: grid;
      grid-template-columns: 230px 160px;
      align-items: center;
      justify-content: end;
      grid-gap: 20px;
      width: 74%;
    }
  }
  .t-rr-s-project-setting-body {
    height: 84vh;
    overflow: auto;
    font-size: 0.9em;

    thead {
      background: #f4f4f6;
      position: sticky;
      z-index: 2;
      top: -1px;
      th {
        padding: 0.75rem 30px;
        font-weight: 100;
      }
      th:nth-child(2) {
        text-align: center;
      }
      th:nth-child(3) {
        text-align: right;
      }
      th:nth-child(4) {
        text-align: right;
      }
    }
    tbody {
      tr:hover {
        color: #212529;
        background: rgba($accentOne, 0.08);
      }
      tr {
        td {
          padding: 0.75rem 30px;
          font-weight: 100;
        }
        td:nth-child(2) {
          .el-checkbox-toogle-wrap {
            display: flex;
            justify-content: center;
          }
          text-align: center;
        }
        td:nth-child(3) {
          text-align: right;
        }
        td:nth-child(4) {
          text-align: right;
        }
      }
    }
  }
  .custom-select {
    height: 34px;
  }
  .input-wrapper {
    input {
      height: 34px;
      background: $greyFour;
    }
  }
  button {
    height: 34px;
  }
}
.t-rr-s-for-arrow {
  cursor: pointer;
  i {
    position: relative;
    top: 2px;
  }
}