.t-rr-s-sidebar-wrapper {
    background: #f4f4f6;
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    position: relative;
    border-right: 1px solid #d7d7db;
    transition: 0.3s;
    min-height: 83vh;
    padding: 30px;
    overflow: hidden;
    height: 84vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    nav {
      overflow: hidden;
      height: 100%;
      transition: 0.3s;
      &:hover{
        overflow-y: auto;
        transition: 0.3s;
      }
    }
    .t-rr-s-nav-list {
      list-style-type: none;
      padding-left: 0px;
      font-size: $size-sm;
      ul {
        list-style-type: none;
        padding-left: 0px;
      }
      li {
        .t-rr-s-text-li {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: flex;
          align-items: baseline;
        }
        .active {
          color: $accenttwo;
        }
        .t-rr-s-nav-list-wrapper-content {
          margin: 10px 0px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          display: flex;
          align-items: center;
        }
      }
      
    }
}