.t-rr-s-user-setting-wrapper {
  .t-rr-s-user-setting-header {
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0px 30px;
    &-setting {
      display: grid;
      grid-template-columns: 37% 160px;
      align-items: center;
      justify-content: end;
      grid-gap: 20px;
      width: 74%;
    }
  }
  .t-rr-s-user-setting-body {
    height: 77vh;
    overflow: auto;
    font-size: 0.9em;

    thead {
      background: #f4f4f6;
      position: sticky;
      z-index: 2;
      top: -1px;
      th {
        padding: 0.75rem 30px;
        font-weight: 100;
      }
    }
    tbody {
      tr:hover {
        color: #212529;
        background: rgba($accentOne, 0.08);
      }
      tr {
        td {
          padding: 0.75rem 30px;
          font-weight: 100;
        }
      }
    }
  }
  .custom-select {
    height: 34px;
  }
  .input-wrapper {
    input {
      height: 34px;
      background: $greyFour;
    }
  }
  button {
    height: 34px;
  }
}
.t-rr-s-for-arrow {
  cursor: pointer;
  i {
    position: relative;
    top: 2px;
  }
}