$mainColor: rgba(15, 27, 56, 1);
$accentOne: rgba(70, 96, 227, 1);
$accenttwo: rgba(25, 51, 183, 1);
$greyOne: rgba(146, 150, 166, 1);
$greyTwo: rgba(215, 215, 219, 1);
$greyFour: rgba(244, 244, 246, 1);
$white: rgba(255,255,255,1);
$blackTwo: rgba(15, 27, 56, 1);
$activeColor: rgba(36,183,66,1);
$todoColor: #002f6d;
$acceptColor: rgba(36,183,66,1);
$childColor: #2d9141;
$cancelColor: #DC3545;
$mainGradientColor: linear-gradient(38deg, $mainColor 68%, $activeColor 100%);
$mainBackground: rgba(255,255,255,1);
$textColorIn: rgba(255,255,255,1);
$mainFontSize: 18px!important;
$mainFontFamaly: "FuturaBookC" , "Exo 2", Tahoma, sans-serif!important;