$mainColor: rgba(32,6,58,1);
$activeColor: rgba(36,183,66,1);
$todoColor: #002f6d;
$acceptColor: rgba(36,183,66,1);
$childColor: #2d9141;
$cancelColor: #DC3545;
$mainGradientColor: linear-gradient(38deg, $mainColor 68%, $activeColor 100%);
$mainBackground: rgba(255,255,255,1);
$textColorIn: rgba(255,255,255,1);
$mainFontSize: 14px;
$mainFontFamaly: "Exo 2", Tahoma, sans-serif;