@font-face {
  font-family: 'transporter_icons';
  src:  url('fonts/transporter_icons.eot?c4px3c');
  src:  url('fonts/transporter_icons.eot?c4px3c#iefix') format('embedded-opentype'),
    url('fonts/transporter_icons.ttf?c4px3c') format('truetype'),
    url('fonts/transporter_icons.woff?c4px3c') format('woff'),
    url('fonts/transporter_icons.svg?c4px3c#transporter_icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="transporter-"], [class*=" transporter-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: transporter_icons , SFProDisplay-Light , Tahoma , sans-serif!important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.transporter-Comment_bubble:before {
  content: "\e9aa";
}
.transporter-Confirm:before {
  content: "\e9ab";
}
.transporter-Dismiss:before {
  content: "\e9ac";
}
.transporter-Photo:before {
  content: "\e9ad";
}
.transporter-visibility_on:before {
  content: "\e956";
}
.transporter-visibility_off:before {
  content: "\e9a9";
}
.transporter-Close:before {
  content: "\e994";
}
.transporter-Comment:before {
  content: "\e995";
}
.transporter-Dropdown:before {
  content: "\e996";
}
.transporter-Dropdown_up:before {
  content: "\e997";
}
.transporter-Edit:before {
  content: "\e998";
}
.transporter-element:before {
  content: "\e999";
}
.transporter-Export:before {
  content: "\e99a";
}
.transporter-Forward:before {
  content: "\e99b";
}
.transporter-info:before {
  content: "\e99c";
}
.transporter-Remove_user:before {
  content: "\e99d";
}
.transporter-Search:before {
  content: "\e99e";
}
.transporter-Settings:before {
  content: "\e99f";
}
.transporter-Sort:before {
  content: "\e9a0";
}
.transporter-Ticks:before {
  content: "\e9a1";
}
.transporter-Trash:before {
  content: "\e9a2";
}
.transporter-Add:before {
  content: "\e9a3";
}
.transporter-Add_file:before {
  content: "\e9a4";
}
.transporter-Add_user:before {
  content: "\e9a5";
}
.transporter-Attention:before {
  content: "\e9a6";
}
.transporter-Back:before {
  content: "\e9a7";
}
.transporter-Calendar:before {
  content: "\e9a8";
}
.transporter-users:before {
  content: "\e993";
}
.transporter-Edit1:before {
  content: "\e91d";
}
.transporter-file:before {
  content: "\e991";
}
.transporter-save:before {
  content: "\e992";
}
.transporter-DCP:before {
  content: "\e990";
}
.transporter-Add_outline:before {
  content: "\e98f";
}
.transporter-Update:before {
  content: "\e98e";
}
.transporter-calendar_outline:before {
  content: "\e985";
}
.transporter-Change_outline:before {
  content: "\e986";
}
.transporter-check_outline:before {
  content: "\e987";
}
.transporter-eye_off_outline:before {
  content: "\e988";
}
.transporter-home_outline:before {
  content: "\e989";
}
.transporter-info_outline:before {
  content: "\e98a";
}
.transporter-map_outline:before {
  content: "\e98b";
}
.transporter-Menu-hide-right:before {
  content: "\e98c";
}
.transporter-Pin_outline:before {
  content: "\e98d";
}
.transporter-more-dots:before {
  content: "\e983";
  color: #002f6d;
}
.transporter-rotate-thin:before {
  content: "\e984";
}
.transporter-cloud_outline:before {
  content: "\e97d";
}
.transporter-demontage_off:before {
  content: "\e97e";
}
.transporter-demontage_on:before {
  content: "\e97f";
}
.transporter-image_outline:before {
  content: "\e980";
}
.transporter-montage_off:before {
  content: "\e981";
}
.transporter-montage_on:before {
  content: "\e982";
}
.transporter-Chart_paper:before {
  content: "\e976";
}
.transporter-Filter_add:before {
  content: "\e977";
}
.transporter-Filter_remove:before {
  content: "\e978";
}
.transporter-List_check:before {
  content: "\e979";
}
.transporter-PDF_paper:before {
  content: "\e97a";
}
.transporter-Way:before {
  content: "\e97b";
}
.transporter-Settings_outline_tiny:before {
  content: "\e975";
}
.transporter-Apartment_show:before {
  content: "\e952";
}
.transporter-Apartment_self_show:before {
  content: "\e953";
}
.transporter-Book_filled:before {
  content: "\e954";
}
.transporter-Calendar_chart:before {
  content: "\e955";
}
.transporter-Change:before {
  content: "\e957";
}
.transporter-Chart_people:before {
  content: "\e958";
}
.transporter-Chart_person:before {
  content: "\e959";
}
.transporter-Chart_sharp:before {
  content: "\e95a";
}
.transporter-Check_square_tiny:before {
  content: "\e95b";
}
.transporter-Close_square_tiny:before {
  content: "\e95c";
}
.transporter-Dialog_eye:before {
  content: "\e95d";
}
.transporter-Dialog_no:before {
  content: "\e95e";
}
.transporter-Dialog_yes:before {
  content: "\e95f";
}
.transporter-Document_outline:before {
  content: "\e960";
}
.transporter-Eye_filled:before {
  content: "\e961";
}
.transporter-Eye_tine:before {
  content: "\e962";
}
.transporter-Format_doc:before {
  content: "\e963";
}
.transporter-Format_pdf:before {
  content: "\e964";
}
.transporter-Group_filled:before {
  content: "\e965";
}
.transporter-Mail_outline:before {
  content: "\e966";
}
.transporter-menu_outline:before {
  content: "\e967";
}
.transporter-menu_tiny:before {
  content: "\e968";
}
.transporter-Moscow:before {
  content: "\e969";
}
.transporter-Person:before {
  content: "\e96a";
}
.transporter-Print_filled:before {
  content: "\e96b";
}
.transporter-Printer_filled_sharp:before {
  content: "\e96c";
}
.transporter-Role_filled:before {
  content: "\e96d";
}
.transporter-Search_tiny:before {
  content: "\e96e";
}
.transporter-Settings_filled:before {
  content: "\e96f";
}
.transporter-Sort_center:before {
  content: "\e970";
}
.transporter-SPB:before {
  content: "\e971";
}
.transporter-Town_filled:before {
  content: "\e972";
}
.transporter-Town_outline:before {
  content: "\e973";
}
.transporter-Trash_outline:before {
  content: "\e974";
}
.transporter-Add_Audio:before {
  content: "\e900";
}
.transporter-Add_comment:before {
  content: "\e901";
}
.transporter-Add_photo:before {
  content: "\e902";
}
.transporter-Add-document:before {
  content: "\e903";
}
.transporter-Add-email:before {
  content: "\e904";
}
.transporter-Alert_circle:before {
  content: "\e905";
}
.transporter-Back-arrow:before {
  content: "\e906";
}
.transporter-Forward-arrow:before {
  content: "\e97c";
}
.transporter-Bookmarks:before {
  content: "\e907";
}
.transporter-Build1:before {
  content: "\e908";
}
.transporter-Build2:before {
  content: "\e909";
}
.transporter-Burger-menu:before {
  content: "\e90a";
}
.transporter-Calendar_alert:before {
  content: "\e90b";
}
.transporter-Calendar_Cross:before {
  content: "\e90c";
}
.transporter-Calendar_ratong:before {
  content: "\e90d";
}
.transporter-Calendar-Choose:before {
  content: "\e90e";
}
.transporter-Camera:before {
  content: "\e90f";
}
.transporter-Camera-1:before {
  content: "\e910";
}
.transporter-chart:before {
  content: "\e911";
}
.transporter-Chart_gorizontal:before {
  content: "\e912";
}
.transporter-Chart_search:before {
  content: "\e913";
}
.transporter-Chart_vertical:before {
  content: "\e914";
}
.transporter-chart1:before {
  content: "\e915";
}
.transporter-Close1:before {
  content: "\e916";
}
.transporter-Close_circle:before {
  content: "\e917";
}
.transporter-Cloud:before {
  content: "\e918";
}
.transporter-Dislike:before {
  content: "\e919";
}
.transporter-doc:before {
  content: "\e91a";
}
.transporter-Door_outline:before {
  content: "\e91b";
}
.transporter-Double_tick:before {
  content: "\e91c";
}
.transporter-Edit-emil:before {
  content: "\e91e";
}
.transporter-Electric:before {
  content: "\e91f";
}
.transporter-Eye_check:before {
  content: "\e920";
}
.transporter-Eye_circle:before {
  content: "\e921";
}
.transporter-Fallin:before {
  content: "\e922";
}
.transporter-Fire:before {
  content: "\e923";
}
.transporter-Fire_safety:before {
  content: "\e924";
}
.transporter-Fire_sign:before {
  content: "\e925";
}
.transporter-Flat_plan:before {
  content: "\e926";
}
.transporter-Gallery:before {
  content: "\e927";
}
.transporter-Garbage:before {
  content: "\e928";
}
.transporter-Group:before {
  content: "\e929";
}
.transporter-IB:before {
  content: "\e92a";
}
.transporter-Info:before {
  content: "\e92b";
}
.transporter-Info-2:before {
  content: "\e92c";
}
.transporter-Info-hide:before {
  content: "\e92d";
}
.transporter-labour_protection:before {
  content: "\e92e";
}
.transporter-Level:before {
  content: "\e92f";
}
.transporter-Like:before {
  content: "\e930";
}
.transporter-logout:before {
  content: "\e931";
}
.transporter-Map:before {
  content: "\e932";
}
.transporter-Maximize:before {
  content: "\e933";
}
.transporter-menu:before {
  content: "\e934";
}
.transporter-Menu-hide:before {
  content: "\e935";
}
.transporter-Minimize:before {
  content: "\e936";
}
.transporter-Notifications:before {
  content: "\e937";
}
.transporter-Office:before {
  content: "\e938";
}
.transporter-Other_type:before {
  content: "\e939";
}
.transporter-Photo_delete:before {
  content: "\e93a";
}
.transporter-Pin:before {
  content: "\e93b";
}
.transporter-Process:before {
  content: "\e93c";
}
.transporter-profile:before {
  content: "\e93d";
}
.transporter-rating:before {
  content: "\e93e";
}
.transporter-Report_number:before {
  content: "\e93f";
}
.transporter-review:before {
  content: "\e940";
}
.transporter-Rubl:before {
  content: "\e941";
}
.transporter-Safety:before {
  content: "\e942";
}
.transporter-Search_filled:before {
  content: "\e943";
}
.transporter-Seatch_outline:before {
  content: "\e944";
}
.transporter-Settings_circle:before {
  content: "\e945";
}
.transporter-stage:before {
  content: "\e946";
}
.transporter-stage1:before {
  content: "\e947";
}
.transporter-stage2:before {
  content: "\e948";
}
.transporter-stage3:before {
  content: "\e949";
}
.transporter-Stairs:before {
  content: "\e94a";
}
.transporter-stat:before {
  content: "\e94b";
}
.transporter-Tick:before {
  content: "\e94c";
}
.transporter-Tools:before {
  content: "\e94d";
}
.transporter-UR:before {
  content: "\e94e";
}
.transporter-Warehouse:before {
  content: "\e94f";
}
.transporter-D:before {
  content: "\e950";
}
.transporter-Add1:before {
  content: "\e951";
}
